html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.top_logo {
    margin-top: auto;
    margin-bottom: auto;
    height: 2.4em;
    display: flex;
}

#sidebarDiv::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#sidebarDiv::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#sidebarDiv::-webkit-scrollbar-thumb
{
    background-color: #AAA;
    border-radius: 15px;			  
	background-image: -webkit-linear-gradient(45deg,
                                              rgba(0, 0, 0, .2) 12.5%,
                                              transparent 12.5%,
                                              transparent 25%,
                                              rgba(0, 0, 0, .2) 25%,
                                              rgba(0, 0, 0, .2) 37.5%,
                                              transparent 37.5%,
                                              transparent 50%,
											  rgba(0, 0, 0, .2) 50%,
                                              rgba(0, 0, 0, .2) 62.5%,
                                              transparent 62.5%,
                                              transparent 75%,
											  rgba(0, 0, 0, .2) 75%,
                                              rgba(0, 0, 0, .2) 87.5%,
                                              transparent 87.5%,
                                              transparent);
}

#sidebarDiv {
	width: 28em;
	height: calc(100vh - 50px);
	float: left;
	margin-top: 50px;
	background: white;
	overflow: overlay;
}

#mapViewDiv {
	display: inline-flex;
	width: calc(100vw - 28em);
}

#foodDropdown {
	width: 50%;
}

#foodLabelColumn {
	width: 20%;
}

#foodYield {
	vertical-align: sub;
	font-size: 3em;
}

#ghgBC, #ghgCali, #transportationDistance, #transportationEmissionDay, #transportationEmissionWeek, #transportationEmissionMonth, #transportationEmissionYear {
	vertical-align: sub;
	font-size: 2em;
}

.foodInfo, .transportInfo {
	margin-bottom: 2em;
	margin-top: 2em;
}

#foodTitle {
	font-size: 1.6em;
	font-style: italic;
}

.catLabel {
	vertical-align: sub;
}

/* Style the tab */
.tab {
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 14px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  height: auto;
  padding: 6px 12px;
  margin-right: 10px;
  /*border: 1px solid #ccc;*/
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*
 * ================
 *     Sliders
 * ================
 */
.sliderContainer {
	width: 100%; /* Width of the outside container */
	margin: 2.5em 0em 0em 0em;
}

.parentSliderContainer {
	width: 100%; /* Width of the outside container */
	margin: 2.5em 0em 2.5em 0em;
}

.innerSliderContainer {
	width: 100%;
	margin: 6px 0px 6px 0px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1;
}

.slider:disabled {
	opacity: 0.3;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #4CAF50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}

.sliderLabel {
	font-style: normal;
}

.labelColumn {
	text-align: center;
	width: 15%;
}

/*
 * ================
 *  Toggle switch
 * ================
 */
/* The switch - the box around the slider */
.togSwitch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
}

/* Hide default HTML checkbox */
.togSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.ts_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 0.7;
}

.ts_slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .ts_slider {
  background-color: #4CAF50;
}

input:hover + .ts_slider {
  opacity: 1;
}

input:checked + .ts_slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.ts_slider.round {
  border-radius: 25px;
}

.ts_slider.round:before {
  border-radius: 50%;
}

/*
 * ======================
 *  Collapsible elements
 * ======================
 */

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 0.4em;
  margin-top: 0.5em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  opacity: 0.7;
}

.collapsible:disabled, .collapsible:disabled.collapsible:hover {
	opacity: 0.3;
}

.collapsible:hover {
	opacity: 1.0;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible.active:after {
  content: "\2212";
}

.collapsibleContent {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}