/* 
    Created    : February 2019
    Author     : Catherine Ozon
*/


body {
  background-color: #dee4f4;
  color: #000000;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  text-align: justify;
  line-height: 2;
}

h2 {
    text-align: center;
}

hr {
    opacity: 0.3;
    width: 200px;
}

html, body{
    padding: 0;
    margin: 0;
}

section {
    margin-right: 200px;
    margin-left: 200px;
    background-color: white;
    padding: 60px 120px 60px 120px;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.header-image {
  background-image: url("https://farm8.staticflickr.com/7871/40273384683_c959105c54_b.jpg");
  background-color: #cccccc;
  height: 500px;
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.header-text {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3c4c74;
  font-size: 35px;
}

#app {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}


#image {
    text-align: center;
}

#logo {
   width: 300px;
   margin: auto 0;
   height: auto;
   align: center;
   padding-bottom: 30px;
}

#teamimg {
   width: 500px;
   margin: auto 0;
   height: auto;
   align: center;
   padding: 20px 20px 20px 20px
}

#teamtext {
    font-size: 13px;
    margin-right: 50px;
    margin-left: 50px;
}

#toapp {
  background-color: #dee4f4; 
  border: none;
  color: black;
  padding: 6px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; 
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  
  border-radius: 4px;
}

#video {
    text-align: center;
    padding: 30px 30px 30px 30px;
}






